/*header*/

header {
    background-color: rgba(43, 219, 27, 0.993);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    
}

.carousel {
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.slides {
    position: absolute;
    top: 0;
    left: 0;
    width: 400%;
    height: 100%;
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    flex-basis: 25%;
    height: 100%;
    overflow: hidden;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.navigation {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.navigation label {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: gray;
    margin: 0 5px;
    cursor: pointer;
}

.navigation label:hover {
    background-color: black;
}

input[type="radio"] {
    display: none;
}

#slide1:checked~.slides {
    transform: translateX(0%);
}

#slide2:checked~.slides {
    transform: translateX(-25%);
}

#slide3:checked~.slides {
    transform: translateX(-50%);
}

#slide4:checked~.slides {
    transform: translateX(-75%);
}

input[type="radio"]:checked+.navigation label {
    background-color: black;
}





nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;

}

nav li {
    margin-left: 20px;
}



nav a {
    color: white;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
}

/*body*/
.container {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    height: 100vh;
}

img {
    max-width: 30%;
    height: auto;
}

p {
    margin-top: 20px;
    text-align: center;
    color: rgb(245, 238, 239);
    font-size: 24px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.fond {
    background-image: url(/img/Fond_d\'ecran.jpg.jpg);
    background-size: cover;
    height: 100vh;
    width: 100vw;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

.conteneur {
    overflow: auto;
}

img {
    float: right;
    margin-left: 20px;
    max-width: 50%;
}

.texte {
    float: left;
    max-width: 50%;
}

.COM {
    color: black;
}

/*footer*/

footer {
    margin-top: 50px;
    text-align: center;
}

.copywrite {
    margin-top: 20px;
    text-align: center;
}

.footer-social {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.footer-social a {
    display: inline-block;
    margin: 0 10px;
}

.footer-social i {
    font-size: 24px;
    color: #999;
}

.footer-social a:hover i {
    color: #0077b5;
}
.contact-info{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
